
body {
  margin: 0;
}



.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
  /* Used in this example to enable scrolling */
}

ol {
counter-reset: item;
padding-left: 10px;
}
li {
display: block
}
li:before {
content: counters(item, ".") " ";
counter-increment: item
}


#A1,
#B2,
{
padding-top: 50px;


}

#rrr {
color: red;

}
#bbb {
  color:blue;
  
  }

/*This style if for footnote */

/* This creates the counter  */
body {
  counter-reset: cb_counter_var;
}

/* This increments the counter value and defines
the displayed content  */
sup::after {
  counter-increment: cb_counter_var;
  content: counter(cb_counter_var);
}

/* This initially hides the footnote (i.e. span)  */
input[type=checkbox]~span {
  display: none;
}

/* This styles the footnote text which appears
when the label is clicked  */
input[type=checkbox]:checked~span {
  display: inline;
  font-size: 85%;
  font-family: $monospace;
  color: mix(#000, $text-color, 30%);
  cursor: default;
}

/* This permanently hides the checkbox  */
input[type=checkbox] {
  display: none;
}

/* This styles the footnote label to appear
like a hyperlink  */
input[type=checkbox]~label {
  display: inline;
  cursor: pointer;
  color: $link-color;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 100%;

}

/* This styles the footnote label when the mouse
hover over it */
input[type=checkbox]~label:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

/* This styles the footnote label after it is clicked */
input[type=checkbox]:checked~label {
  color: red;
  text-decoration: none;
}

#aa {

  font-weight: bolder;
  color: blue;
  font-size: 125%;
}

#aaa {
  text-align: justify;
  font-size: 125%;

}

#casename {
  text-align: center;
  font-size: 125%;
  font-weight: bolder;
  color: red;
  padding-top: 5%
}

#NKP {
  color: black;
  font-size: 90%;


}

#yellowhighlight {

  background-color: yellow;
  color: black;

}

#NepHead,
#EngHead {
  color: blue;
  font-weight: bold;

}



#EngHead {
  font-size: large;

}

#clrgrnNep,
#clrgrnEng {
  color: green;



}

div.tab1 {
  padding-left: 1em;


}

div.tab2 {
  padding-left: 2em;


}

#a {
  font-size: 100%
}

#b {
  font-size: 100%;

}

#ef,
#gh {
  color: red;
  font-weight: bold;
}

div.linespacing {
  line-height: 1.8;
}

table #columnwidth {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px black solid;
}

table#columnwidth td {
  width: 50%;
  border: 1px black solid;

}

table #columnsize {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px black solid;
}

table#columnsize td {
  width: 50%;
  border: 1px black solid;

}

#greenhighlight {

  background-color: green;
}

#welcometo {
  color: blue;
  padding-top: 5%
}


#phoneno {

  color: brown;
}



#pageno {
color:red;
font-weight: bolder;

}
#bullet {
list-style-type: disc;


}